{% load wagtailcore_tags %}
<div class="flex flex-col items-center md:mx-24 ">
  <div class="flex justify-center text-center md:my-12 md:pb-12 md:text-left">
    <div class="w-full max-w-screen-2xl">
      <div class="md:flex gap-12" x-data="{ selectedIdx: 0 }">
        <div class="w-96 shrink-1">
          <ul class="ml-0!">
            {% for entry in value.entries %}
            <li x-bind:class="selectedIdx === {{ forloop.counter0 }} ? 'overflow-hidden rounded-3xl bg-white shadow-taska' : ''"
            class="p-4 text-black hover:cursor-pointer list-none"
            @click="selectedIdx = {{ forloop.counter0 }}">
            {{ entry.title }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        {% for entry in value.entries %}
        <div x-bind:class="selectedIdx !== {{ forloop.counter0 }} ? 'hidden' : ''">
          <div class="w-full max-w-screen-2xl">
            <div class="h-full w-full overflow-hidden bg-taskaultralightgrey p-8 max-md:space-y-2 md:rounded-3xl md:bg-taskabackgroundgrey md:p-0 md:pb-4">
              <div class="col-span-{{ entry.columns|length }} md:m-8">
                <h1>{{ entry.title }}</h>
              </div>
              <div class="space-y-2 md:mx-8 md:mt-4 md:space-y-4">{{ entry.text }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>